 /* PC ESCRITORIO 4K */
@media only screen and (max-width: 2560px) {
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 38px;
        transform: translate(-45%,350%);
    }
    .schreibe3{
        font-size: 38px;
        margin-bottom: 25px;
        transform: translate(-90%,380%);
      
      }

    .logos{
        transform: translate(2080%, 513%);
        z-index: 99999;
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 100%;
          transform: rotate(-35deg);
      }

      #bioFooter{
        font-size: 30px;
        height: 40%;
        cursor: cell;
        z-index: 999;
      }

      .icono_Carla{
        transform: translate(525%, -55%);
      }

    }
/* PC */
@media only screen and (max-width: 1450px) {
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 19px;
        transform: translate(300%,30%);
        width: 65%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 400%;
        transform: translate(-85%,-75%);
      }

    .schreibe3{
        font-size: 19px;
        transform: translate(260%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 230%;
          transform: translate(3150%,-560%);
      }

      #bioFooter{
        font-size: 17px;
        height: 40%;
        width: 270%;
        cursor: cell;
        z-index: 999;
        margin-top: 150%;
        margin-left: 700%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

  }

/* Notebook/tablet grande */
@media only screen and (max-width: 1024px){

    .optionsBio_sceno{
        transform: translate(150%,0%);
    }
    .optionsBio_costu{
        width: 120%;
        transform: translate(39%,0%);
    }
    .optionsBio_draw{
        transform: translate(-170%,0%);
    }
    .optionsBio_photo{
        transform: translate(55%,0%);
    }

    #bio_pop{
        width: 100%;
    }
    #bio_pop2{
        font-size: 14px;
        width: 85%;
        transform: translate(0%,-12%);
        display: flex;

    }

    .logos{
        transform: translate(1050%, 320%);
        height: 10%;
        width: 20%;
      
      }
      .icono3{
        margin-top: 120%;
          width: 100%;
          transform: rotate(-35deg);
      }

      #bioFooter{
        margin-top: 280%;
        width: 250%;
        font-size: 17px;
        height: 46%;
        cursor: cell;
        z-index: 999;
      }

      .optionsBio_costu:hover{
        color: rgb(237, 231, 235);
        border-bottom: 1px solid black;
        cursor: help;
        background-color: transparent;
      }

      .optionsBio_sceno:hover{
        color: rgb(237, 231, 235);
        border-bottom: 1px solid black;
        cursor: help;
        background-color: transparent;
      }
      

      .optionsBio_photo:hover{
        color: rgb(237, 231, 235);
        border-bottom: 1px solid black;
        cursor: help;
        background-color: transparent;
      }
      
      .optionsBio_film:hover{
        color: rgb(237, 231, 235);
        border-bottom: 1px solid black;
        cursor: help;
        background-color: transparent;
      }
      
      .optionsBio_draw:hover{
        color: rgb(237, 231, 235);
        border-bottom: 1px solid black;
        cursor: help;
        background-color: transparent;
      }


  } 

/* Smartphone grande */
@media only screen and (max-width: 768px){
    .optionsBio_costu{
        width: 125%;
        transform: translate(15%,0%);
    }
    .optionsBio_draw{
        transform: translate(-130%,0%);
    }
    .optionsBio_photo{
        transform: translate(48%,0%);
    }
    .optionsBio_film{
        transform: translate(37%,0%);
    }
    .optionsBio_sceno{
        transform: translate(50%,0%);
    }

    .schreibeAbout{
        transform: translate(113%,0%);
    }

    #bio_pop{
        width: 60%;
    }
    #bio_pop2{
        font-size: 14px;
        width: 60%;
    }

    .nav-downBio{
        width: 10%;
    }
    #logo1{
        transform: translate(15%,7%);
    }
    #logo1 img{
        width: 70%;
    }
    .credits{
        transform: translate(-300%,-10%);
    }





    .schreibe2{
        transform: translate(-47%,600%);
    }
    .schreibe3{
        width: 120%;
        transform: translate(-80%,620%);
    }


    .logos{
        transform: translate(500%, 500%);
        height: 10%;
        width: 20%;
      
      }
      .icono3{
          width: 100%;
          transform: rotate(-35deg);
          margin-top: -55%;

      }

      #bioFooter{
        height: 40%;
        margin-top: 400%;
        width: 500%;
        margin-left: 270%;

      }



  } 

  /* Smartphone */
@media only screen and (max-width: 600px){


    .icono_Carla img{
        width: 190px;
        transform: translate(33vh,-5vh);
    }
    .icono3{
        transform: translate(40%,76%);

    }
    .optionsBio_costu{
        transform: translate(20%,-10%);
    }
    .optionsBio_draw{
        transform: translate(-50%,0%);
    }
    .optionsBio_photo{
        transform: translate(12%,0%);
    }
    .optionsBio_film{
        transform: translate(60%,0%);
    }
    .optionsBio_sceno{
        transform: translate(20%,0%);
    }

    .schreibeAbout{
        transform: translate(60%,-10%);
    }

    #bio_pop{
        width: 60%;
    }
    .content-collapse{
        transform: translate(-3%,-7%);
    }

    #bio_pop2{
        font-size: 14px;
        width: 58%;
    }

    .schreibe2{
        transform: translate(147%,60%);
    }
    .schreibe3{
        width: 150%;
        transform: translate(-60%,2100%);
    }


    .logos{
        transform: translate(500%, 400%);
      }


      #bioFooter{
        height: 50%;
        margin-top: 480%;
        width: 500%;
        margin-left: 270%;
      }

      .icono_Carla{
        width:60%;
        transform: translate(50%,-35%);
      }



  } 

  /* Smartphone */
@media only screen and (max-width: 560px){

    .icono_Carla img{
        width: 190px;
        transform: translate(33vh,-5vh);
    }
    .icono3{
        transform: translate(40%,76%);

    }
    .optionsBio_costu{
        transform: translate(20%,-10%);
    }
    .optionsBio_draw{
        transform: translate(-50%,0%);
    }
    .optionsBio_photo{
        transform: translate(12%,0%);
    }
    .optionsBio_film{
        transform: translate(60%,0%);
    }
    .optionsBio_sceno{
        transform: translate(10%,0%);
    }

    .schreibeAbout{
        transform: translate(60%,-10%);
    }

    #bio_pop{
        width: 60%;
    }
    .content-collapse{
        transform: translate(-5%,-7%);
    }

    #bio_pop2{
        font-size: 14px;
        width: 58%;
    }

    .schreibe2{
        transform: translate(147%,60%);
    }
    .schreibe3{
        width: 150%;
        transform: translate(-60%,2100%);
    }


    .logos{
        transform: translate(500%, 400%);
      }


      #bioFooter{
        height: 50%;
        margin-top: 480%;
        width: 500%;
        margin-left: 270%;
      }

      .icono_Carla{
        width:60%;
        transform: translate(50%,-35%);
      }


      #bioFooter{
        height: 48%;
        margin-top: 480%;
        width: 500%;
        margin-left: 270%;
      }

      .icono_Carla{
        width:40%;
        transform: translate(100%,-25%);
      }



  } 

  /* Smartphone */
@media only screen and (max-width: 420px){
    .icono_Carla img{
        width: 190px;
        transform: translate(16vh,0vh);
    }
    .icono3{
        width: 25px;
        transform: translate(40%,20%);

    }
    .optionsBio_costu{
        transform: translate(20%,-10%);
        font-size: 13px;
    }
    .optionsBio_draw{
        transform: translate(-50%,0%);
        font-size: 13px;

    }
    .optionsBio_photo{
        transform: translate(12%,0%);
        font-size: 13px;

    }
    .optionsBio_film{
        transform: translate(60%,0%);
        font-size: 13px;

    }
    .optionsBio_sceno{
        transform: translate(10%,0%);
        font-size: 13px;

    }

    .schreibeAbout{
        transform: translate(60%,90%);

    }

    #bio_pop{
        width: 45%;
        font-size: 13px;

    }
    .content-collapse{
        transform: translate(-6%,0%);
    }

    #bio_pop2{
        font-size: 13px;
        width: 45%;

    }

    .schreibe2{
        transform: translate(147%,60%);
        font-size: 13px;
    }
    .schreibe3{
        width: 150%;
        transform: translate(-60%,3000%);
        font-size: 13px;
    }


    .logos{
        transform: translate(500%, 400%);
      }


      #bioFooter{
        height: 50%;
        margin-top: 780%;
        width: 500%;
        margin-left: 270%;
      }

      .icono_Carla{
        width:60%;
        transform: translate(50%,-35%);
      }







} 

  /* Smartphone */
@media only screen and (max-width: 375px){
    .icono_Carla img{
        width: 190px;
        transform: translate(16vh,0vh);
    }
    .icono3{
        width: 25px;
        transform: translate(45%,-15%);

    }
    .optionsBio_costu{
        transform: translate(15%,-10%);
        font-size: 13px;
    }
    .optionsBio_draw{
        transform: translate(-35%,0%);
        font-size: 13px;

    }
    .optionsBio_photo{
        transform: translate(12%,0%);
        font-size: 13px;

    }
    .optionsBio_film{
        transform: translate(60%,0%);
        font-size: 13px;

    }
    .optionsBio_sceno{
        transform: translate(-10%,0%);
        font-size: 13px;

    }

    .schreibeAbout{
        transform: translate(60%,90%);
    }

    #bio_pop{
        width: 40%;
        font-size: 13px;

    }
    .content-collapse{
        transform: translate(-4%,0%);
    }

    #bio_pop2{
        font-size: 12px;
        width: 38%;

    }

    .schreibe2{
        transform: translate(147%,60%);
        font-size: 13px;
    }
    .schreibe3{
        width: 160%;
        font-size: 13px;
        transform: translate(-50%,3000%);
    }


    .logos{
        transform: translate(500%, 400%);
      }


      #bioFooter{
        height: 55%;
        margin-top: 780%;
        width: 550%;
        margin-left: 270%;
      }

      .icono_Carla{
        width:60%;
        transform: translate(50%,-35%);
      }




}

     /* Smartphone */
@media only screen and (max-width: 320px){
 

    .optionsBio_costu{
        transform: translate(-10%,0%);
        font-size: 11px;
    }
    .optionsBio_draw{
        transform: translate(-50%,0%);
        font-size: 11px;

    }
    .optionsBio_photo{
        transform: translate(-14%,0%);
        font-size: 11px;

    }
    .optionsBio_film{
        transform: translate(30%,0%);
        font-size: 11px;

    }
    .optionsBio_sceno{
        transform: translate(-52%,0%);
        font-size: 11px;
    }

    .schreibeAbout{
        transform: translate(60%,90%);
    }

    /* #biobiobioMe{
        transform: translate(190%, -180%);
    } */

    #bio_pop{
        font-size: 13px;
        width: 35%;
    }
    .content-collapse{
        transform: translate(-5%,0%);
    }

    #bio_pop2{
        width: 43%;
        font-size: 9px;

    }

    #biobiobio{
        transform: translate(-6%, 0%);
        width: 1400%;
    }

    .schreibe2{
        width: 280%;
        transform: translate(90%,20%);
    }

    .schreibe3{
        width: 200%;
        font-size: 13px;
        transform: translate(-50%,2550%);
    }


    .logos{
        transform: translate(250%, 300%);
      }

      .icono3{
        width: 220%;
        transform: translate(-180%, 370%);

      }


      #bioFooter{
        font-size: 13px;
        height: 32%;
        margin-top: 1180%;
        width: 790%;
        margin-left: 5%;
      }

      .icono_Carla{
        width:60%;
        transform: translate(70%,-25%);
      }



} 



