 /* PC ESCRITORIO 4K */
@media only screen and (max-width: 2560px) {
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 38px;
        transform: translate(-45%,350%);
    }
    .schreibe3{
        font-size: 38px;
        margin-bottom: 25px;
        transform: translate(-90%,380%);
      
      }

    .logos{
        transform: translate(2080%, 513%);
        z-index: 99999;
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 100%;
          transform: rotate(-35deg);
      }

      #bioFooter{
        font-size: 30px;
        height: 40%;
        cursor: cell;
        z-index: 999;
      }

      .icono_Carla{
        transform: translate(525%, -55%);
      }

    }
/* PC */
@media only screen and (max-width: 1450px) {
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 19px;
        transform: translate(300%,30%);
        width: 65%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 400%;
        transform: translate(-85%,-75%);
      }

    .schreibe3{
        font-size: 19px;
        transform: translate(260%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 230%;
          transform: translate(3150%,-560%) rotate(-65deg);
      }

      #bioFooter{
        font-size: 17px;
        height: 40%;
        width: 270%;
        cursor: cell;
        z-index: 999;
        margin-top: 150%;
        margin-left: 700%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

  }

/* Notebook/tablet grande */
@media only screen and (max-width: 1024px){
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 19px;
        transform: translate(150%,30%);
        width: 95%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 400%;
        transform: translate(-65%,-85%);
      }

    .schreibe3{
        font-size: 19px;
        transform: translate(230%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 230%;
          transform: translate(3250%,-880%);
      }

      #bioFooter{
        font-size: 17px;
        height: 40%;
        width: 270%;
        cursor: cell;
        z-index: 999;
        margin-top: 310%;
        margin-left: 700%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

  } 

/* Smartphone grande */
@media only screen and (max-width: 768px){
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 19px;
        transform: translate(130%,30%);
        width: 95%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 400%;
        transform: translate(-65%,-85%);
      }

    .schreibe3{
        font-size: 19px;
        transform: translate(210%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 330%;
          transform: translate(2250%,-800%);
      }

      #bioFooter{
        font-size: 17px;
        height: 44%;
        width: 370%;
        cursor: cell;
        z-index: 999;
        margin-top: 310%;
        margin-left: 700%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

      .blendBio{
        font-size: 15px;
      }

      .blendlinksBio{
        margin-left: 5%;
        padding:2px;
      }

      
      /* Modal Content */
      .modal-content {
        width: 90%;
        /* margin-top: 5%; */
      }


  } 

  /* Smartphone */
@media only screen and (max-width: 600px){
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 15px;
        transform: translate(80%,30%);
        width: 100%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 550%;
        transform: translate(-65%,-85%);
      }

    .schreibe3{
        font-size: 15px;
        transform: translate(180%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 330%;
          transform: translate(2450%,-960%);
      }

      #bioFooter{
        font-size: 17px;
        height: 47%;
        width: 420%;
        cursor: cell;
        z-index: 999;
        margin-top: 310%;
        margin-left: 750%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

      .blendBio{
        font-size: 13px;
      }

      .blendlinksBio{
        margin-left: 2%;
        padding:2px;
      }

      #logo1Bio{
        width: 180%;
        transform: translateX(-8%);
      }

      
      /* Modal Content */
      .modal-content {
        width: 95%;
        margin-top: 2%;
        font-size: 15px;
      }


  } 

  /* Smartphone */
@media only screen and (max-width: 560px){

    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 13px;
        transform: translate(80%,30%);
        width: 100%;
        padding: 3%;
    }

    .icono_Carla img{
        position: fixed;
        width: 550%;
        transform: translate(-65%,-85%);
      }

    .schreibe3{
        font-size: 13px;
        transform: translate(180%,-100%);
      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 400%;
          transform: translate(2050%,-850%);
      }

      #bioFooter{
        font-size: 17px;
        height: 47%;
        width: 450%;
        cursor: cell;
        z-index: 999;
        margin-top: 310%;
        margin-left: 750%;
      }

      .botonesInicialesBio{
        transform: translate(30%,0%);
        cursor: grab;
      }

      .blendBio{
        font-size: 13px;
        margin-left: -2px;
      }

      .blendlinksBio{
        margin-left: 2%;
        padding:2px;
      }

      #logo1Bio{
        width: 180%;
        transform: translateX(-8%);
      }

      
      /* Modal Content */
      .modal-content {
        width: 95%;
        margin-top: 0%;
        font-size: 14px;
      }



  } 

  /* Smartphone */
@media only screen and (max-width: 420px){
    #wrapper-eventBio {
        z-index: 999;
        display:flex;
        height: 5%;
      }
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 13px;
        transform: translate(5%,30%);
        width: 150%;
        padding: 3%;
        z-index: -999;
    }

    .icono_Carla img{
        position: fixed;
        width: 850%;
        transform: translate(-35%,-150%);
      }

    .schreibe3{
        font-size: 13px;
        width: 150%;
        transform: translate(100%,-100%);
        z-index: -999;

      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 600%;
          transform: translate(550%,-720%);
      }

      #bioFooter{
        font-size: 17px;
        height: 29%;
        width: 900%;
        cursor: cell;
        z-index: 999;
        margin-top: 1110%;
        margin-left: 250%;
      }


      .blendBio{
        font-size: 11px;
        margin-left: -58px;
        transform: translate(27%,-40%);
      }

      .blendlinksBio{
        margin-left: -1%;
        padding:2px;
        z-index: 99999999;

      }

      #logo1Bio{
        width: 280%;
        transform: translateX(-11%);
        z-index: -999;

      }

      .contenideScBio button{
        width: 250%;
        font-size: 17px;
        transform: translate(0%,-300%);
      }

      .blendBio{
        height: 20px;
      }

      
      /* Modal Content */
      .modal-content {
        width: 96%;
        margin-top: -12%;
        font-size: 12px;
        z-index: 99999999;
      }



} 

  /* Smartphone */
@media only screen and (max-width: 375px){
    #wrapper-eventBio {
        z-index: 999;
        display:flex;
        height: 5%;
      }
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 13px;
        transform: translate(5%,30%);
        width: 150%;
        padding: 3%;
        z-index: -999;
    }

    .icono_Carla img{
        position: fixed;
        width: 850%;
        transform: translate(-35%,-150%);
      }

    .schreibe3{
        font-size: 13px;
        width: 150%;
        transform: translate(100%,-100%);
        z-index: -999;

      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 600%;
          transform: translate(550%,-720%);
      }

      #bioFooter{
        font-size: 17px;
        height: 29%;
        width: 900%;
        cursor: cell;
        z-index: 999;
        margin-top: 1110%;
        margin-left: 250%;
      }


      .blendBio{
        font-size: 11px;
        margin-left: -58px;
        transform: translate(27%,-40%);
      }

      .blendlinksBio{
        margin-left: -1%;
        padding:2px;
        z-index: 99999999;

      }

      #logo1Bio{
        width: 280%;
        transform: translateX(-13%);
        z-index: -999;

      }

      .contenideScBio button{
        width: 250%;
        font-size: 17px;
        transform: translate(0%,-300%);
      }

      .blendBio{
        height: 20px;
      }

      
      /* Modal Content */
      .modal-content {
        width: 96%;
        margin-top: -12%;
        font-size: 12px;
        z-index: 99999999;
      }





}

     /* Smartphone */
@media only screen and (max-width: 320px){
 
    #wrapper-eventBio {
        z-index: 999;
        display:flex;
        height: 5%;
      }
    #wrapper-border {
        position: fixed;
        display: flex;
        height: 150%;
        bottom: 0;
        left: 0;
        z-index: 2 !important;
        pointer-events: none;
        /* padding-left: 50px; */
      }
    .schreibe2 {
        font-size: 13px;
        transform: translate(5%,30%);
        width: 150%;
        padding: 3%;
        z-index: -999;
    }

    .icono_Carla img{
        position: fixed;
        width: 850%;
        transform: translate(-35%,-180%);
      }

    .schreibe3{
        font-size: 13px;
        width: 190%;
        transform: translate(67%,-100%);
        z-index: -999;

      }

    .logos{
        transform: translate(0%, 20%);
        height: 10%;
        width: 10%;
      
      }
      .icono3{
          width: 750%;
          transform: translate(600%,-880%);
      }

      #bioFooter{
        font-size: 17px;
        height: 40%;
        width: 830%;
        cursor: cell;
        z-index: 999;
        margin-top: 1110%;
        margin-left: 360%;
      }


      .blendBio{
        font-size: 9px;
        margin-left: -58px;
        transform: translate(29%,-40%);
      }

      .blendlinksBio{
        margin-left: -1%;
        padding:2px;
        z-index: 99999999;

      }

      #logo1Bio{
        width: 280%;
        transform: translateX(-13%);
        z-index: -999;

      }

      .contenideScBio button{
        width: 250%;
        font-size: 17px;
        transform: translate(0%,-700%);
      }

      .blendBio{
        height: 20px;
      }

      
      /* Modal Content */
      .modal-content {
        width: 96%;
        margin-top: -19%;
        font-size: 12px;
        z-index: 99999999;
      }




} 



